# Python bytecode
*.pyc

# Logs
*.log

# Virtualenv
venv/

# Build and distribution output
build/
dist/
__pycache__/

# IDE-specific files (for VS Code)
.vscode/
.idea/

# Meson build files
meson-private/
builddir/
test.py
test.ui
test.blp
test.css
AppDir
.venv
.flatpak-builder
extract_description.py
.VSCodeCounter/
CLAUDE.md
.serena/
.cursor/
tools/output_management_client/wlr-output-management-unstable-v1.xml
tools/output_management_client/wlr-output-management-unstable-v1-client-protocol.h
tools/output_management_client/wlr-output-management-unstable-v1-protocol.c
tools/output_management_client/output-management-client
